.App {
  text-align: center;
  background-color: black;
}

.App-link {
  color: #61dafb;
}
.text {
  color: rgb(219, 177, 60);
  font-size: 1.2em;
  padding: 5px;
}

.textLg {
  color: rgb(219, 177, 60);
  font-size: 2em;
  font-weight: 800;
}

/* Components  CSS*/
.App-header {
  background-color: #161616;
  height: 8vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: rgb(219, 177, 60);
  z-index: 10;
}

.Wrapper {
  color: azure;
  background-color: black;
  height: 100vh;
  padding-top: 8vh;
  padding-bottom: 5vh;
  z-index: -1;
}
.Footer {
  min-height: 5vh;
  width: 100vw;
  color: rgb(219, 177, 60);
  background-color: #161616;
  font-size: .7em;
  z-index: 5;
  position: fixed;
  left: 0;
  bottom: 0;
}

.WebDev {
  background-size: cover;
  background-image: url('./components/img/blend2.png');
  height: 99vh;
  padding-top: 8vh;
  background-position: center;
  width: 100vw;
  margin-bottom: 15px;
}

.CGI {
  background-size: cover;
  background-image: url('./components/img/bear2.png');
  height: 99vh;
  padding-top: 8vh;
  background-position: center;
  width: 100vw;
  margin-bottom: 15px;
}

.About {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./components/img/Baner2.png');
  min-height: 30vw;
  background-position: center;
  width: 100vw;
  padding-top: 8vh;
  margin-bottom: 15px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.triangle {
  padding-top: 5%;
  padding-bottom: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}